<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceChallengeSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2757/WebServiceChallenge.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceChallengeSoap"
                contract="WebServiceReference.WebServiceChallengeSoap" name="WebServiceChallengeSoap" />
        </client>
    </system.serviceModel>
</configuration>